In [1]:
import pandas as pd

In [16]:
df_atendimento = pd.read_parquet("D:\Dev2\migracao_sheets\data\dados-mapeamentos.parquet")

In [17]:
df_atendimento.head()

,ID,Data,Cliente,n° POIs,Tipo de Mapeamento,Status,Responsável,Data de Conclusão,Observações
0,ATIV-20250317133237168,17/03/2025,VSH,50,Pontos Mapeados,Concluído,Karine,17/03/2025,
1,ATIV-20250317145912758,17/03/2025,CROP Oftalmologia,50,Pontos Mapeados,Concluído,Karine,17/03/2025,
2,ATIV-20250318231917014,18/03/2025,Puc,210,Pontos Mapeados,Concluído,Karine,18/03/2025,
3,ATIV-20250319220917951,19/03/2025,Puc,240,Pontos Mapeados,Concluído,Karine,19/03/2025,
4,ATIV-20250320122409113,20/03/2025,Adv Marcio Mathias,32,Pontos Mapeados,Concluído,Diego,20/03/2025,

In [18]:
df_atendimento.describe()

,ID,Data,Cliente,n° POIs,Tipo de Mapeamento,Status,Responsável,Data de Conclusão,Observações
count,8,8,8,8,8,8,8,8,8
unique,8,6,5,6,2,1,2,6,1
top,ATIV-20250317133237168,17/03/2025,Puc,50,Pontos Mapeados,Concluído,Karine,17/03/2025,
freq,1,2,4,3,7,8,7,2,8

In [5]:
df_atendimento['Status'].value_counts()

Status
Concluído    133
Name: count, dtype: int64